@font-face {
  font-family: "lexend";
  src: url(fonts/LexendDeca-VariableFont_wght.ttf);
}
@font-face {
  font-family: "shoulder";
  src: url(fonts/BigShouldersDisplay-VariableFont_wght.ttf);
}
body {
  font-size: 15px;
  color: white;
  font-family: "lexend";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
}
#block-1,
#block-2,
#block-3 > p {
  font-size: 0.8rem;
  color: hsla(0, 0%, 100%, 0.822);
}
#block-1 {
  padding: 1.5rem;
  background-color: hsl(31, 77%, 52%);
}
#block-2 {
  padding: 1.5rem;
  background-color: hsl(184, 100%, 22%);
}
#block-3 {
  padding: 1.5rem;
  background-color: hsl(179, 100%, 13%);
}
h1 {
  font-family: "shoulder";
  font-size: 2rem;
}
.details {
  padding: 0 1rem 1rem 0rem;
  line-height: 1.25rem;
}
button {
  background-color: white;
  padding: 0.8rem 2rem;
  border-radius: 15px;
  outline-color: transparent;
  border-color: transparent;
  padding-bottom: 1rem;
  font-family: "lexend";
}
button:hover {
  background-color: transparent;
  color: white;
  border-color: black;
}

@media (max-width: 700px) {
  main {
    grid-template-columns: 1fr;
    max-height: 100vh;
  }
}
